---
x-nautobot-build: &nautobot-build
  build:
    args:
      NAUTOBOT_VER: "${NAUTOBOT_VER}"
      PYTHON_VER: "${PYTHON_VER}"
    context: "../"
    target: "nautobot"
    dockerfile: "development/Dockerfile"
x-nautobot-base: &nautobot-base
  image: "nautobot/nautobot:local"
  env_file:
    - "dev.env"
  tty: true

version: "3.8"
services:
  nautobot:
    command: "nautobot-server runserver 0.0.0.0:8000 --insecure"
    ports:
      - "8000:8000"
    depends_on:
      - "postgres"
      - "redis"
    <<: *nautobot-build
    <<: *nautobot-base
  worker:
    entrypoint: "nautobot-server rqworker"
    depends_on:
      - "nautobot"
    <<: *nautobot-base
  postgres:
    image: "postgres:13"
    env_file:
      - "./dev.env"
  redis:
    image: "redis:6-alpine"
    command:
      - "sh"
      - "-c" # this is to evaluate the $REDIS_PASSWORD from the env
      - "redis-server --appendonly yes --requirepass $$REDIS_PASSWORD" ## $$ because of docker-compose
    env_file: "./dev.env"
