---
x-nautobot-base: &nautobot-base
  image: "nautobot/nautobot:local"
  env_file:
    - "dev.env"
  tty: true

services:
  nautobot:
    build:
      args:
        NAUTOBOT_VER: "${NAUTOBOT_VER}"
      context: "../"
      target: "nautobot"
      dockerfile: "development/Dockerfile"
    command: "nautobot-server runserver 0.0.0.0:8000 --insecure --nothreading"
    ports:
      - "8000:8000"
    depends_on:
      - "postgres"
      - "redis"
    <<: *nautobot-base
  worker:
    entrypoint: "nautobot-server rqworker"
    #### ENABLE CELERY ######
    # This is what is required to add a celery worker.  This broke CI so is disabled for now.
      # - "sh"
      # - "-c"  # this is to evaluate the $NAUTOBOT_LOG_LEVEL from the env
      # - "nautobot-server celery worker -l $$NAUTOBOT_LOG_LEVEL --events"  ## $$ because of docker-compose
    # depends_on:
    #   nautobot:
    #     condition: "service_healthy"
    # healthcheck:
    #   interval: "30s"
    #   timeout: "10s"
    #   start_period: "30s"
    #   retries: 3
    #   test: ["CMD", "bash", "-c", "nautobot-server celery inspect ping --destination celery@$$HOSTNAME"]  ## $$ because of docker-compose
    ###########################
    depends_on:
      - "nautobot"
    <<: *nautobot-base
  postgres:
    image: "postgres:17-alpine"
    env_file:
      - "./dev.env"
  redis:
    image: "redis:6-alpine"
    command:
      - "sh"
      - "-c" # this is to evaluate the $REDIS_PASSWORD from the env
      - "redis-server --appendonly yes --requirepass $$REDIS_PASSWORD" ## $$ because of docker-compose
    env_file: "./dev.env"
