[tool.poetry]
name = "nautobot_ansible_modules"
version = "3.3.0"
description = "Ansible collection to interact with Nautobot's API"
authors = ["Network to Code <opensource@networktocode.com"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "^3.6.2"
ansible-base = "^2.10.0"
netutils = "^0.2.2"

[tool.poetry.dev-dependencies]
black = "^21.10b0"
codecov = "*"
coverage = "^4.0"
cryptography = "*"
jinja2 = "*"
jmespath = "*"
jsondiff = "*"
pytest = "*"
pytest-mock = "*"
pytest-xdist = "*"
pyyaml = "*"
mock = "^4.0.2"
importlib-metadata = "1.7.0"
pylint = "^2.6.0"
sphinx_rtd_theme = "*"
hypothesis = "^6.8.0"
pynautobot = "^1.0.2"
pytest-pythonpath = "^0.7.3"
parameterized = "^0.8.1"
invoke = "^1.6.0"
bandit = "^1.7.0"

[tool.black]
# line-length = 120
# target-version = ['py38']
# include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | nautobot_config.py
  | settings.py     # This is where you define files that should not be stylized by black
                     # the root of the project
)
'''

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = [
    "tests"
]
python_paths = "./"
addopts = "-vv"
