[tool.poetry]
name = "nautobot_ansible_modules"
version = "3.0.0"
description = "Ansible collection to interact with Nautobot's API"
authors = ["Network to Code <opensource@networktocode.com"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "^3.6"
ansible-base = "^2.10.0"

[tool.poetry.dev-dependencies]
black = "19.10b0"
codecov = "*"
coverage = "^4.0"
cryptography = "*"
jinja2 = "*"
jmespath = "*"
jsondiff = "*"
pytest = "*"
pytest-mock = "*"
pytest-xdist = "*"
pyyaml = "*"
mock = "^4.0.2"
antsibull = "^0.25.0"
importlib-metadata = "1.7.0"
pylint = "^2.6.0"
sphinx_rtd_theme = "*"
hypothesis = "^6.8.0"
pynautobot = "^1.0.2"
pytest-pythonpath = "^0.7.3"
invoke = "^1.6.0"
bandit = "^1.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = [
    "tests"
]
python_paths = "./"
addopts = "-vv"