# Overview

This is the documentation home of the {{ collection_name }} Ansible Collection. We will provide some examples of using all the different plugins included with this collection.

## Contents

The Nautobot-Ansible modules are created for interacting with Nautobot. There are modules for creating and updating objects in Nautobot. Once data is in Nautobot you can use the Inventory plugins to gather inventory data into Ansible.