NAUTOBOT_ALLOWED_HOSTS={{ allowed_hosts }}
NAUTOBOT_DATABASE="{{ nautobot_db_name }}"
NAUTOBOT_USER="{{ nautobot_db_username }}"
NAUTOBOT_PASSWORD="{{ nautobot_db_password }}"
{% if nautobot_db_host is defined %}
NAUTOBOT_DB_HOST="{{ nautobot_db_host }}"
{% endif %}
{% if nautobot_db_port is defined %}
NAUTOBOT_DB_PORT="{{ nautobot_db_port }}"
{% endif %}
{% if nautobot_db_timeout is defined %}
NAUTOBOT_DB_TIMEOUT="{{ nautobot_db_timeout }}"
{% endif %}
{% if NAUTOBOT_DB_ENGINE is defined %}
NAUTOBOT_DB_ENGINE="{{ nautobot_db_engine }}"
{% endif %}
{% if NAUTOBOT_SECRET_KEY is defined %}
NAUTOBOT_SECRET_KEY="{{ secret_key }}"
{% endif %}