devices (name_ic: \"lax01-leaf-01\") {
  name
  platform {
    napalm_driver
  }
  status {
    name
  }
  primary_ip4 {
    address
  }
  device_role {
    name
  }
  site {
    name
  }
  device_role {
    name
  }
{% include "graphql_additional_query.j2" %}
}
