devices {% include "graphql_filters.j2" %} {
  name
  platform {
    napalm_driver
  }
  status {
    name
  }
  primary_ip4 {
    host
  }
  device_role {
    name
  }
  site {
    name
  }
{% include "graphql_additional_query.j2" %}
}
