---
name: "Tests"
on: # yamllint disable
  workflow_call:
    inputs:
      runs-on:
        description: "The OS to run the job on"
        required: false
        default: "ubuntu-latest"
        type: string
      full-integration:
        description: "Run full integration tests"
        required: false
        default: false
        type: boolean

jobs:
  changelog:
    # Disable for develop branch
    # Disable for main branch
    # Disable for LTM branches
    # Disable for Next branches
    # Disable for Release branches
    # Disable for manual CI runs
    # Disable for scheduled CI runs
    if: >
      (github.head_ref != 'develop')
      && (github.head_ref != 'main')
      && (!startsWith(github.head_ref, 'ltm'))
      && (!startsWith(github.head_ref, 'next'))
      && (!startsWith(github.head_ref, 'release'))
      && (github.event_name != 'workflow_dispatch')
      && (github.event_name != 'schedule')
    runs-on: "${{ inputs.runs-on }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: "0"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
      - name: "Check for changelog entry"
        run: |
          git fetch --no-tags origin +refs/heads/${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}
          poetry run towncrier check --compare-with origin/${{ github.base_ref }}
  lint:
    runs-on: "${{ inputs.runs-on }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install invoke"
        run: "pip install -U pip && pip install invoke packaging"
      - name: "Linting"
        run: "invoke lint"
  unit:
    runs-on: "${{ inputs.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
    env:
      INVOKE_NAUTOBOT_ANSIBLE_PYTHON_VER: "${{ matrix.python-version }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install invoke"
        run: "pip install -U pip && pip install invoke packaging"
      - name: "Tests"
        run: "invoke unit"
    needs:
      - "lint"
  integration_partial:
    # Only run a subset of integration tests on normal PRs
    if: ${{ inputs.full-integration == false }}
    uses: ./.github/workflows/integration_tests.yml
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.12"
        nautobot-version:
          - "3.0"
        ansible-version:
          - "2.19"
    with:
      python-version: "${{ matrix.python-version }}"
      nautobot-version: "${{ matrix.nautobot-version }}"
      ansible-version: "${{ matrix.ansible-version }}"
    needs:
      - "unit"
  integration_full:
    if: ${{ inputs.full-integration == true }}
    uses: ./.github/workflows/integration_tests.yml
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
        nautobot-version:
          - "3.0"
        ansible-version:
          - "2.18"
          - "2.19"
        # exclude:
        #   - python-version: "x.x"
        #     ansible-version: "x.x"
    with:
      python-version: "${{ matrix.python-version }}"
      nautobot-version: "${{ matrix.nautobot-version }}"
      ansible-version: "${{ matrix.ansible-version }}"
    needs:
      - "unit"
