---
name: "Release"
on: # yamllint disable
  release:
    types: [published]

jobs:
  publish_github:
    name: "Publish to GitHub"
    runs-on: "ubuntu-latest"
    if: "startsWith(github.ref, 'refs/tags/v')"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.11"
      - name: "Install Python Packages"
        run: "pip install ansible-core"
      - name: "Build the collection"
        run: "ansible-galaxy collection build --output-path build"
      - name: "Upload binaries to release"
        uses: "svenstaro/upload-release-action@v2"
        with:
          repo_token: "${{ secrets.GH_NAUTOBOT_BOT_TOKEN }}"
          file: "build/*"
          tag: "${{ github.ref }}"
          overwrite: true
          file_glob: true
  publish_galaxy:
    name: "Publish to Ansible Galaxy"
    runs-on: "ubuntu-latest"
    if: "startsWith(github.ref, 'refs/tags/v')"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.11"
      - name: "Install Python Packages"
        run: "pip install ansible-core"
      - name: "Create the ansible.cfg file"
        run: |
          cat << EOF > ansible.cfg
          [galaxy]
          server_list = published
          [galaxy_server.published]
          url=https://galaxy.ansible.com/api/
          token=${{ secrets.GALAXY_API_TOKEN }}
          EOF
        shell: bash
      - name: "Build the collection"
        run: "ansible-galaxy collection build --output-path build"
      - name: "Publish the collection"
        run: "ansible-galaxy collection publish build/*"
